@font-face {
    font-family: 'Young Serif Regular';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
    font-family: 'Outfit Regular';
    src: url('./assets/fonts/outfit/static/Outfit-Regular.ttf');
}

@font-face {
    font-family: 'Outfit Semibold';
    src: url('./assets/fonts/outfit/static/Outfit-SemiBold.ttf');
}

@font-face {
    font-family: 'Outfit Bold';
    src: url('./assets/fonts/outfit/static/Outfit-Bold.ttf');
}

:root {
    --rose-800: #7A284E;
    --rose-50: #FFF7FB;
    --stone-900: #312E2C;
    --stone-600: #5F564D;
    --stone-150: #E3DDD7;
    --stone-100: #F3E5D7;
    --brown-800: #854632;
    --white: #FFFFFF;

    --text-preset-1: 2.5rem 'Young Serif Regular';
    --text-preset-1-mobile: 2.25rem 'Young Serif Regular';
    --text-preset-2: 1.75rem 'Young Serif Regular';
    --text-preset-3: 1.25rem 'Outfit Semibold';
    --text-preset-4: 1rem/1.5 'Outfit Regular';
    --text-preset-4-bold: 1rem/1.5 'Outfit Bold';

    --spacing-1600: 8rem;
    --spacing-600: 4rem;
    --spacing-500: 2.5rem;
    --spacing-400: 2rem;
    --spacing-300: 1.5rem;
    --spacing-200: 1rem;
    --spacing-150: 0.75rem;
    --spacing-100: 0.5rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font: var(--text-preset-4);
  color: var(--stone-600);
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;padding: var(--stone-150) 0 var(--stone-150) var(--spacing-400);
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
    padding-left: var(--spacing-400);
}

hr, 
tr:not(:last-child) > * {
    border-bottom: 1px solid var(--stone-150);
}

/* Changing default list styles */
ul, ol {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}

li::marker {
    color: var(--brown-800);
    font: var(--text-preset-4-bold);
    margin-right: var(--spacing-200);
}

li > span {
    font: var(--text-preset-4-bold);
}

.recipe__image {
    width: 100%;
}

.recipe__info,
.recipe__info > * {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.recipe__info {
    padding: var(--spacing-500) var(--spacing-400);
    gap: var(--spacing-400);
}

.recipe__info h1 {
    font: var(--text-preset-1-mobile);
    color: var(--stone-900);
    margin-bottom: var(--spacing-300);
}

.recipe__info h2 {
    font: var(--text-preset-2);
    color: var(--brown-800);
    border-radius: var(--spacing-150);
}

.recipe__info__preparation {
    padding: var(--spacing-300);
    gap: var(--spacing-200);
    background-color: var(--rose-50);
}

.recipe__info__preparation h2 {
    font: var(--text-preset-3);
    color: var(--rose-800);
}
